/* DONE */
body {
    background-color:rgb(237, 247, 236);
    color:rgb(33, 37, 36);

    font-family: system-ui;
}

/* DONE */
header {
    background-color:rgb(96, 136, 110);
    color:white;
    text-align: center;

    padding:15px 20px;
}

/* DONE */
.logo {
    width: 150px;
}

/* DONE */
#titulo{
    font-family: serif;
    font-size: 50px;
    text-shadow: 3px 5px 5px rgb(72, 95, 87);
    
    margin:0px 0px 15px 0px;
}

/* DONE */
.tabla head{
    margin: auto;
}

/* DONE */
#menuPrincipal {
    background-color:rgb(133, 182, 141);

    border: solid;
    border-color:white;
}

/*  */
.planeta {
    align: center;

    width: 300px;
}

/* DONE */
ul {
    list-style: none;

    padding:0px;
}

/* DONE */
.listM {
    display:inline;

    margin:0px 15px;
}

/* DONE */
.enlaceMenuPrincipal{
    text-decoration:none;
    color:white;

    padding:10px 20px;
}

/* DONE */
.tituloSeccion{
    background-color:rgb(96, 136, 110);
    color:white;

    padding:10px;
}

/* DONE */
.articulo{
    background-color:white;
    border:1px solid rgb(96, 136, 110);

    margin:0px 0px 10px 0px;
    padding:10px;
}

/* DONE */
footer{
    background-color:rgb(96, 136, 110);
    color:white;
    text-align: center;

    margin:0px 0px 20px 0px;
    padding:10px;
}

/*  */
.footing {
    width:50px;
}

/*  */
a{
    text-decoration:none;
    color:white;
}
